.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    flex-basis: 30%;
    padding-top: 74px;
    position: relative;
    margin-bottom: 63px;

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
    }

    &--contract {
      &:before {
        content: url(../img/advantages/contract.svg);
      }
    }

    &--intime {
      &:before {
        content: url(../img/advantages/intime.svg);
      }
    }

    &--price {
      &:before {
        content: url(../img/advantages/price.svg);
      }
    }

    &--subtotals {
      &:before {
        content: url(../img/advantages/subtotals.svg);
      }
    }

    &--host {
      &:before {
        content: url(../img/advantages/host.svg);
      }
    }

    &--reliability {
      &:before {
        content: url(../img/advantages/reliability.svg);
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 17px;
  }

  &__description {
    font-weight: 100;
    font-size: 16px;
    line-height: 28px;
  }
}

@media(max-width: 576px) {
  .advantages {
    flex-direction: column;

    &__title {
      font-size: 18px;
      line-height: 28px;
    }

    &__description {
      font-size: 14px;
      line-height: 28px;
    }

    &__item {
      margin-bottom: 30px;

      &:nth-last-child(-n+3) {
        margin-bottom: 30px;
      }
    }
  }
}
