.description {
  text-align: left;

  &__overhead {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #FFBB01;

    margin-bottom: 14px;
  }

  &__header {
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;
    color: $white;

    margin-bottom: 20px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $white;

    max-width: 420px;

    margin-bottom: 38px;
  }

}

@media(max-width: 576px) {
  .description {
    text-align: center;

    &__overhead {
      font-size: 16px;
    }

    &__header {
      font-size: 24px;
      line-height: 28px;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
