.download {
  padding-top: 90px;
  padding-bottom: 75px;

  &__title {
    font-size: $mobileTitleFS;
    font-weight: 500;
    color: $main;
  }

  &__text {
    margin-top: 26px;
    font-size: $mobileTextFS;
    font-weight: 400;
    line-height: $mobileTextLH;
    letter-spacing: $mobileTextLS;
    color: $grey;
  }

  &__cards {
    margin-top: 90px;
  }
}

@media(min-width: $desktopWidth) {
  .download {
    padding-top: 120px;
    padding-bottom: 40px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      font-size: $desktopTitleFS;
    }

    &__text {
      max-width: 500px;
      font-size: $desktopTextFS;
      line-height: $desktopTextLH;
      letter-spacing: $desktopTextLS;
    }

    &__cards {
      margin-top: 75px;
    }
  }
}
