.footer {
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: $main;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav {
    margin-top: 30px;
  }
}


@media(min-width: $desktopWidth) {
  .footer {
    padding-bottom: 30px;

    &__container {
      display: flex;
      flex-direction: row;
    }

    &__nav {
      margin-top: 0;
    }
  }
}
