.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  &__img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: none;
  }

  &__mail {
    width: 100%;
    box-sizing: border-box;
    font-size: $mobileTextFS;
    letter-spacing: $mobileTextLS;
    font-weight: 400;

    padding: 17px 15px;
    border-radius: 7px;
    border: none;
  }

  &__error {
    display: block;
    position: relative;
  }

  &__indicator {
    display: none;
  }

  &__button {
    margin-top: 20px;
    margin-bottom: 45px;
  }

  &--success {
    .form {
      &__indicator {
        display: block;
        font-size: $mobileTextFS;
        letter-spacing: $mobileTextLS;
        font-weight: 400;
        color: #ffffff;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
      }

      &__error {
        display: block;
        position: relative;
        border: 4px solid green;
        border-bottom: 20px solid green;
        background-color: green;
        border-radius: 10px;
      }

      &__button {
        margin-top: 3px;
      }

    }
  }

  &--error {
    .form {
      &__indicator {
        display: block;
        font-size: $mobileTextFS;
        letter-spacing: $mobileTextLS;
        font-weight: 400;
        color: #ffffff;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
      }

      &__img {
        display: block;
      }

      &__susses {
        display: block;
        position: relative;
        border: 4px solid green;
        border-bottom: 20px solid green;
        background-color: green;
        border-radius: 10px;
      }

      &__error {
        display: block;
        position: relative;
        border: 4px solid $red;
        border-bottom: 20px solid $red;
        background-color: $red;
        border-radius: 10px;
      }

      &__button {
        margin-top: 15px;
      }

    }
  }


}

@media(min-width: $desktopWidth) {

  .form {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &__mail {
      width: 330px;
      font-size: 16px;
      color: $grey;
      letter-spacing: $desktopTextLS;

      &:placeholder {
        color: rgba($grey, 0.9);
      }
    }

    &__button {
      margin-top: 30px;
      margin-bottom: 75px;
    }

    &__button {
      margin-top: 0;
    }

    &--error {
      .form {
        &__indicator {
          width: 100%;
          font-size: 15px;
          letter-spacing: $desktopTextLS;
        }

        &__button {
          margin-top: 0;
        }

      }
    }


  }
}
