.content {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__img {
    width: 100%;
    position: relative;
  }

  &__title {
    margin-top: 90px;

    font-size: $mobileTitleFS;
    font-weight: 500;
    color: $main;
  }

  &__button {
    display: none;
  }

  &__text {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 27px;

    font-weight: 400;
    font-size: $mobileTextFS;
    line-height: $mobileTextLH;
    color: $grey;
  }
}

@media(min-width: $desktopWidth) {
  .content {
    width: 100%;

    &__wrapper {
      max-width: 500px;
      text-align: left;

    }

    &__item {
      display: none;
      flex-direction: row;
      justify-content: space-between;

      &--active {
        display: flex;
      }
    }

    &__button {
      margin-top: 35px;
      display: block;
    }

    &__img {
      width: 50%;
      position: relative;
    }

    &__title {
      font-size: $desktopTitleFS;
    }

    &__text {
      font-size: $desktopTextFS;
      line-height: $desktopTextLH;
    }
  }
}
