.subtitle{
    font-family: 'Oswald';
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;

    color: $c-yellow;

    &--descr{
        color: #414141;
        line-height: 20px;
        letter-spacing: 3px;
        font-weight: 200;

        text-transform: none;

        line-height: 24px;
        font-size: 18px;
    }
}
@media(min-width:$tablet-width){
    .subtitle{
        font-size: 26px;
        line-height: 30px;
        &--descr{
            font-size: 22px;
            line-height: 20px;
        }
        &-ls{
            font-size: 28px;
            line-height: 37px;
            padding-left: 32px;
        }
    }
}
@media(min-width:$decstop-width){
    .subtitle{
        font-size: 39px;
        letter-spacing: 2px;
        line-height: 50px;
        &--descr{
            font-size: 18px;
            line-height: 20px;
        }
        &-ls{
            letter-spacing: 7px;
            padding-left: 0;
        }
    }
}
