.delivery{
    padding-top: 38px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &_wr{
        // padding-right: 50px;
        padding-top: 19px;

    }
    img{
        width: 651px;
    }
}