.hero{
    padding: 133px 0 221px 0;
    margin: 0 auto;
    // overflow: hidden;
    position: relative;
    &-img{
        width: 430px;
        position: absolute;
        top: 48px;
        right: -303px;
    }
    &_wr{
        margin-top: 33px;
        display: flex;
        align-items:center;
        &-button{
            width: 26px;
            height: 26px;
            border-radius:100%;
            background-color:#bbbbbb;
            margin-left: 73px;
            border: none;
            position: relative;
            padding: 0;
            &::before{
                content:'';
                width: 12px;
                height: 2px;
                background-color:#000000;
                position: absolute;
                left: 8px;
                top: 12.5px;
            }
            &::after{
                content:'';
                width: 12px;
                height: 2px;
                background-color:#000000;
                transform: rotate(90deg);
                position: absolute;
                left: 8px;
                top: 12.5px;
            }
            &-descr{
                margin-left: 6px;
                color: #000000;
                font-family: "Myriad Pro";
                font-size: 20px;
                font-weight: 400;
                span{
                    font-family: "Flex Display - Thin";
                    font-weight: 100;
                    font-size: 17px;
                    color:#dfdfdf;
                }
            }
        }
    }

}
