// .works{
//     .galery{
//         max-width: 1140px;
//         margin-top: 52px;
//         display: grid;
//         grid-template-columns: 1fr 1fr 1fr;
//         grid-template-rows: 1fr 1fr 1fr;
//         gap: 25px;

//         &-1{
//             grid-area: 1 / 1 / 2 / 3;
//         }
//         &-2{
//             grid-area: 1 / 3 / 3 / 4;
//         }
//         &-5{
//             grid-area: 3 / 1 / 4 / 3;
//         }
//     }
// }

// @media(max-width: 900px){
//     .works{
//         .galery{
//             grid-template-columns: 1fr 1fr;
//             &-img{
//             }
//             &-2{
//                 grid-area: 4/1;
//             }
//         }
//     }

// }
.galery{
    margin-top: 52px;
    display: grid;
    max-width: 1140px;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
    grid-template-areas: "img1 img1 img2"
                        "img3 img4 img2"
                        "img5 img5 img6";
    img{
        width: 100%;
    }
    &-1{
        grid-area: img1;
    }
    &-2{
        grid-area: img2;
        height: 100%;
    }
    &-3{
        grid-area: img3;
    }
    &-4{
        grid-area: img4;
    }
    &-5{
        grid-area: img5;
    }
    &-6{
        grid-area: img6;
        height: 100%;
    }
}

@media(max-width:768px){
    .galery{
        margin-top: 15px;
        grid-template-areas: "img1 img1"
                            "img3 img4"
                            "img5 img5"
                            "img2 img6"
                            "img2 .";
        &-2{
            height: auto;
        }
        &-6{
            height: auto;
        }
    }
}
@media(max-width:576px){
    .galery{
        margin-top: 15px;
        grid-template-areas: "img1"
                            "img2"
                            "img3"
                            "img4"
                            "img5"
                            "img6";
        &-2{
            height: auto;
        }
        &-6{
            height: auto;
        }
    }
}