@import'base/animation';
@import'base/mixins';
@import'base/variables';
@import'libs/bootstrap-grid.min';
@import'libs/bootstrap-reboot.min';
@import'libs/fonts';

*{
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.container{
    position: relative;
}

@import'bloks/nav';
@import'bloks/home';
@import'bloks/header';
@import'bloks/buttons';
@import'bloks/services';
@import'bloks/relax';
@import'bloks/projects';
@import'bloks/culture';
@import'bloks/comments';
@import'bloks/footer';


