$tablet-width: 768px;
$decstop-width: 1200px;
$mobile-only: 768px;
$c-grey: #e4e4e4;
$c-dark: #2a2a2a;
$c-dark2: #252525;
$c-grey2: #4A4A4A;
$c-circle: #343434;
$c-yellow:#C89611;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
