.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

@media(max-width: 576px) {
  .content {
    flex-direction: column;

    &__description {
      order: 2;
    }

    &__avatar {
      order: 1;
      margin-bottom: 17px;
    }
  }
}
