.features {
  padding-top: 64px;
  padding-bottom: 91px;

  background-color: #000000;

  &__title {
    margin-bottom: 84px;
  }
}

@media(max-width: 576px) {
  .features {
    padding-top: 63px;
    padding-bottom: 60px;

    &__title {
      margin-bottom: 60px;
    }
  }
}
