.hero {
  padding-top: 52px;
  padding-bottom: 152px;

  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);

  &__header {
    margin-bottom: 108px;
  }
}

@media(max-width: 576px) {
  .hero {
    padding-top: 43px;
    padding-bottom: 75px;

    &__header {
      margin-bottom: 38px;
    }
  }
}
