.projects {
  padding-top: 135px;
  padding-bottom: 108px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);

  &__title {
    margin-bottom: 78px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 44px;
  }

  .pagination {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    border: 2px solid #FFBB01;

    margin: 0 10px;

    &--active {
      background-color: #FFBB01;
    }
  }
}

@media(max-width: 576px) {
  .projects {
    padding-top: 47px;
    padding-bottom: 47px;

    &__pagination {
      margin-bottom: 23px;
    }
  }
}
