.slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__wrapper {
    flex-basis: 527px;
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: $white;

    margin-bottom: 24px;
  }

  &__block {
    padding-left: 45px;
    position: relative;

    &:before {
      content: url(../img/project/cost.svg);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }

    &--deadline {
      margin-bottom: 44px;
      margin-right: 64px;

      &:before {
        content: url(../img/project/deadline.svg);
      }
    }

    &--cost {
      margin-bottom: 44px;

      &:before {
        content: url(../img/project/cost.svg);
      }
    }

    &--comment {
      &:before {
        content: url(../img/project/comment.svg);
      }
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
  }

  &__descr {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }
}

@media(max-width: 576px) {
  .slide {
    flex-direction: column;

    &__img {
      margin-bottom: 47px;
      flex-basis: 100%;
    }

    &__title {
      font-size: 18px;
      line-height: 27px;
    }

    &__subtitle {
      font-size: 18px;
      line-height: 21px;
    }

    &__descr {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
