.posts {
  padding-top: 85px;
  padding-bottom: 80px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    text-align: center;
  }

  &__descr {
    margin-top: 25px;

    max-width: 760px;
    text-align: center;
  }

  &__wrapper {
    margin-top: 40px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items:center;
  }

  &__arows-wrapper {
    margin-top: 40px;
  }
}