.contact{
    padding-top: 151px;
    padding-bottom: 66px;

    background-image: url(../img/bg_contact.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;

    &__title{
        color: #ffffff;
        text-align: center;
    }
    &__form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-top: 84px;
    }
    &__input{
        box-sizing: border-box;
        width: 30%;
        background-color:transparent;
        border: 1px solid #d8dce0;
        color: #d8dce0;

        margin-bottom: 40px;
        padding: 17px 32px;

        &::placeholder{
            color: #ffffff;
            font-family: "Oswald";
            font-size: 14px;
            font-weight: 400;
            line-height: 167.64px;
            letter-spacing: 0.13px;
        }
    }
    &__textarea{
        width: 100%;
        min-height: 256px;
        background-color:transparent;
        resize: none;
        border: 1px solid #d8dce0;
        color:#d8dce0;



        padding: 20px 32px;
    }
    &__button{
        width:100%
    }
}
@media(min-width:1920px){

}
@media(max-width:1200px){

}
@media(max-width:991px){

}
@media(max-width:768px){
    .contact{
        padding-top: 80px;
        padding-bottom: 60px;
        &__form{
            margin-top: 20px;
        }
        &__input{
            padding: 13px 17px;
            margin-bottom: 20px;
            
        }
        &__textarea{
            min-height: 100px;
        }
    }
}
@media(max-width:576px){
    .contact{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 10px;
        padding-left: 10px;
        &__input{
            min-width: 100%;
            
        }
    }
}