.menu{
    padding-top: 149px;
    padding-bottom: 155px;
    text-align: center;

    &__p{
        width: 90%;
        margin: 0 auto;

        margin-top: 56px;
    }

    &__button{
        margin-top: 50px;
        padding: 24px 50px;
    }
}
@media(min-width:1920px){

}
@media(max-width:1200px){

}
@media(max-width:991px){
    .menu{
        padding-top: 120px;
        padding-bottom: 120px;
        &__p{
            margin-top: 40px;
        }
    }
}
@media(max-width:768px){
    .menu{
        padding-top: 80px;
        padding-bottom: 80px;
        &__p{
            margin-top: 40px;
        }
        &__button{
            padding: 18px 25px;
        }
    }
}
@media(max-width:576px){
    .menu{
        padding-top: 40px;
        padding-bottom: 40px;
        &__p{
            margin-top: 0;
        }
        &__button{
            padding: 18px 25px;
        }
    }
}
