$main:#252b46;
$grey: #9194a1;
$blue: #5266DF;
$red: #FB5859;
$tabActive: red;
$mobileTitleFS: 27px;
$mobileTextFS: 14px;
$mobileTextLS: 0.6px;
$mobileTextLH: 18px;
$desktopTitleFS: 35px;
$desktopTextFS: 18px;
$desktopTextLS: 1.4px;
$desktopTextLH: 22px;
$desktopWidth: 1140px
