$main:#252b46;
$grey: #9194a1;
$blue: #5266DF;
$red: #FB5859;
$tabActive: red;
$mobileTitleFS: 27px;
$mobileTextFS: 15px;
$mobileTextLS: 1px;
$mobileTextLH: 22px;
$desktopTitleFS: 35px;
$desktopTextFS: 18px;
$desktopTextLS: 0;
$desktopTextLH: 28px;
$desktopWidth: 1140px
