.works{
    padding: 75px 0 60px 0;
    position: relative;
    top: -122px;
    .galery{
        margin: 0 auto;
        margin-top: 47px;
        display:grid;
        grid-template-columns:repeat(auto-fit, 360px);
        grid-template-rows: repeat(2,184px);
        column-gap:30px;
        row-gap: 34px;
        &_wr{
            overflow: hidden;
            img{
                width: 100%;
                cursor: pointer;
            }
        }
    }
    .overflow {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        &-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            animation-name: zoom;
            animation-duration: 0.6s;
            }
        .close {
            position: fixed;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
            cursor: pointer;
        }
    }
}
@media(max-width:1200px){
    .works{
        .galery{
            grid-template-columns:repeat(auto-fit, 300px);
            grid-template-rows: repeat(2,150px);
        }
    }
}
@media(max-width:991px){
    .works{
        top: -111px;
        .galery{
            max-width: 630px;
            grid-template-columns:repeat(auto-fit, 300px);
            grid-template-rows: repeat(3,150px);
        }
    }
}
@media(max-width:768px){
    .works{
        top: -122px;
        .galery{
            padding: 0 15px;
            grid-template-columns:repeat(auto-fit, 240px);
            grid-template-rows: repeat(3,130px);
        }
    }
}
@media(max-width:576px){
    .works{
        padding: 40px 0 40px 0;
        top: 0;
        .galery{
            margin-top: 40px;
            grid-template-columns:1fr 1fr;
            grid-template-rows: repeat(3,230px);
            column-gap:15px;
            row-gap: 15px;
        }
    }
}