.red{
    background-color:#FF565C;

    padding-top: 37px;
    padding-right: 28px;
    padding-left: 25px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.red__title{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 26px;
    line-height: 40px;
    /* or 154% */

    letter-spacing: -0.382353px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.red__text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */


    color: #FFFFFF;

    margin-bottom: 30px;
}

.red__button{
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    color: #FFFFFF;

    padding: 18px 64px;

    border:1px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}